.button {
  cursor: pointer;
  border: 3px blue solid;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
}

#errorInfo {
  margin-top: 10px;
  color: red;
}

.p {
  color: red;
  display: inline;
}